{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block 'content' %}
<br><br><br><br><br><br>
<h1>{% trans "Sign Up" %}</h1>

<p>Already have an account? Then please <a href="{% url 'accounts:account_login' %}">sign in</a>.</p>

<form class="login" method="POST" action="{% url 'accounts:account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock 'content' %}
