{% extends 'base.html' %}
{% load static %}
{% block 'title' %}{% endblock 'title' %}

{% block 'content' %}
  <section id="login" class="login">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-6">
          <div class="login-img" data-aos="zoom-out" data-aos-delay="100">
            <img src="{% static 'assets/img/login-img.png' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="login-form" data-aos="fade-up" data-aos-delay="100">
            <h2>Login</h2>
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <div class="text-center"><button type="submit">Login</button></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock 'content' %}

